#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dialog {
  border: 3px solid black;
  position: absolute;
  left: 25vw;
  top: 25vh;
  background: gray;
  height: 50vh;
  width: 50vw;
  display: flex;
}

.dialog p {
  flex: 1;
}

/* För react-transition-group */
.dialog-enter {
  opacity: 0;
}
.dialog-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.dialog-exit {
  opacity: 1;
}
.dialog-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
